.navbar {background-color: #BC9ECC !important;}

.w-45 {
    width: 45% !important;
}

.w-100px {
    width: 200px !important;
}

.object-position-center {
    object-position: center !important;
}

h1.text-center {
    margin-top: 15%;
    margin-bottom: 15%;
}